<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telit.info.trans.mapper.CardMealMapper">
	<resultMap id="CardMealResultMap" type="com.telit.info.data.business.CardMeal">
		<result column="id" property="id" />
		<result column="school_id" property="schoolId" />
		<result column="schoolName" property="schoolName" />
		<result column="operator" property="operator" />
		<result column="icon_url" property="iconUrl" />
		<result column="net_type" property="netType" />
		<result column="last_time" property="lastTime" />
		<result column="band_width" property="bandWidth" />
		<result column="key_word" property="keyWord" />
		<result column="price" property="price" />
		<result column="realy_price" property="realyPrice" />
		<result column="divide_num" property="divideNum" />
		<result column="hot_order" property="hotOrder" />
		<result column="description" property="description" />
		<result column="content" property="content" />
		<result column="statu" property="statu" />
		<result column="auther" property="auther" />
		<result column="business_activity" property="businessActivity" />
		<result column="visit_activity" property="visitActivity" />
	</resultMap>
	<select id="queryListCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM t_card_meal
		INNER JOIN t_school ON t_school.id=t_card_meal.school_id
		WHERE t_card_meal.school_id IN (
			SELECT t_role_school.school_id FROM t_role_school 
			WHERE t_role_school.role_id = #{roleId}
		)
		<if test="operators != null">
			AND t_card_meal.operator IN (${operators})
		</if>
		<if test="conds != null">
			AND (${conds})
		</if>
	</select>
	<select id="queryList" resultMap="CardMealResultMap">
		SELECT t_card_meal.*,
		t_school.school_name schoolName
		FROM t_card_meal
		INNER JOIN t_school ON t_school.id=t_card_meal.school_id
		WHERE t_card_meal.school_id IN (
			SELECT t_role_school.school_id FROM t_role_school 
			WHERE t_role_school.role_id = #{roleId}
		)
		<if test="operators != null">
			AND t_card_meal.operator IN (${operators})
		</if>
		<if test="conds != null">
			AND (${conds})
		</if>
		<if test="os != null">
			ORDER BY ${os}
		</if>
		LIMIT #{cur},#{len}
	</select>
</mapper>