<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telit.info.trans.mapper.UsedItemMapper">
	<resultMap id="UsedItemResultMap" type="com.telit.info.data.business.UsedItem">
		<result column="id" property="id" />
		<result column="type" property="type" />
		<result column="content" property="content" />
		<result column="phone" property="phone" />
		<result column="time" property="time" />
		<result column="user_id" property="userId" />
		<result column="school_id" property="schoolId" />
		<result column="pics" property="pics" />
		<result column="userName" property="userName" />
		<result column="schoolName" property="schoolName" />
		<result column="title" property="title" />
		<result column="price" property="price" />
	</resultMap>
	<select id="queryListCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM t_market
		LEFT JOIN t_app_user ON t_app_user.id=t_market.user_id
		LEFT JOIN t_school ON t_school.id=t_market.school_id
		WHERE t_market.school_id IN (
			SELECT t_role_school.school_id FROM t_role_school 
			WHERE t_role_school.role_id = #{roleId}
		)
		<if test="conds != null">
			AND (${conds})
		</if>
	</select>
	<select id="queryList" resultMap="UsedItemResultMap">
		SELECT t_market.*,
		t_app_user.real_name userName,
		t_school.school_name schoolName
		FROM t_market
		LEFT JOIN t_app_user ON t_app_user.id=t_market.user_id
		LEFT JOIN t_school ON t_school.id=t_market.school_id
		WHERE t_market.school_id IN (
			SELECT t_role_school.school_id FROM t_role_school 
			WHERE t_role_school.role_id = #{roleId}
		)
		<if test="conds != null">
			AND (${conds})
		</if>
		<if test="os != null">
			ORDER BY ${os}
		</if>
		LIMIT #{cur},#{len}
	</select>
	<select id="getLinkOne" resultMap="UsedItemResultMap">
		SELECT t_market.*,
		t_app_user.real_name userName,
		t_school.school_name schoolName
		FROM t_market
		LEFT JOIN t_app_user ON t_app_user.id=t_market.user_id
		LEFT JOIN t_school ON t_school.id=t_market.school_id
		WHERE t_market.id = #{itemId}
	</select>
	<select id="list" resultMap="UsedItemResultMap">
		SELECT t_market.*,
		t_app_user.real_name userName,
		t_school.school_name schoolName
		FROM t_market
		LEFT JOIN t_app_user ON t_app_user.id=t_market.user_id
		LEFT JOIN t_school ON t_school.id=t_market.school_id
		<where>
			1=1
			<if test="schoolId > 0">
			 	AND t_market.school_id=#{schoolId}
			</if>
			<if test="userId > 0">
			 	AND t_market.user_id=#{userId}
			</if>
		</where>
		<if test="start > 0 and len > 0">
			LIMIT #{start},#{len}
		</if>
	</select>
</mapper>